<?xml version="1.0" encoding="ISO-8859-1"?>
<config>
    <!-- Client auth user -->
	<client-user>isn-geiger</client-user>
	
	<!-- Client auth password -->
	<client-pass>isn-geiger</client-pass>
	
	<!-- Server host address to bind -->
	<server-host>127.0.0.1</server-host>
	
	<!-- Server port to bind (integer)-->
	<server-host>34887</server-host>
</config>